pbr>=5.5.0
neutron-lib>=3.20.0
SQLAlchemy>=1.4.0
alembic>=1.7.0
oslo.config>=8.7.0
oslo.db>=11.0.0
oslo.log>=4.6.0
oslo.policy>=3.10.0
oslo.serialization>=4.2.0
oslo.utils>=4.10.0
osc-lib>=2.6.0
python-openstackclient>=6.0.0
